html, body {
font-family: 'PT Sans Caption',sans-serif;
font-size: 16px;
line-height: 1.5;
}
.img {
display: inline-block;
}
* {
box-sizing: border-box;
}
a {
transition: 0.2s ease-out;  
}
/*-------GRID-----------*/
.container {
width: 1450px;
margin-left: auto;
margin-right: auto;
line-height: 51px;
    
}
.containere {
width: 1700px; 
margin-left: auto;
margin-right: auto;
line-height: 5px;
}
.row:after {
clear: both;
content: "";
display: table;
}

.col-4 {
width: 400px;
margin-right: 50px;
float: left;
}
    
.col-4:last-child {
margin-right: 0px;
    
}

/*------HEADER---------*/
.header {
background: #A9F5F2;
background-image: url("../img/Krum-most.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 590px;
text-align: center;
display: flex;
 
align-items: center;
justify-content: center;
    

}
.header__title {
font-size: 70px;
font-family: serif;
color: #086A87;
background-color: #FFf;
border-style: solid;
border-radius: 50px;
padding: 6px 37px 6px 37px;
 
    
     
}

/*--------PORTFOLIO-----*/
.text p {
font-size: 25px;
line-height: 1.5;
text-decoration: none;
margin-top: 2px;
margin-bottom: 20px;
font-family: 'ZCOOL KuaiLe', cursive;
line-height: normal;
    

}
.portfolio  {
background-image: url(../img/krum%20.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding-top: 10px;
padding-bottom: 0px;
padding-left: 30px;
     
}

.portfolio--itm {
margin-bottom: 20px;
    
}

.portfolio--itm__img {
padding-top: 0px;
      
}
.portfolio--itm__img img {
max-width: 100%;
height: auto;
}

.portfolio--itm__title {
     
font-size: 25px;
line-height: normal;
margin-bottom: 20px;
margin-top: 10px

}
.portfolio--itm__title a {
font-size: 27px;
margin-bottom: 50px;
text-align: center;
font-weight: 900;
text-decoration: none;
color: #BC8F8F;
margin-left: 0px;
    
}
.portfolio--itm__title a:hover {
color: #0174DF;
border-color: #0174DF;
}

.container {
margin-left: auto;
margin-right: auto;
    
}
/*-------

prilogenie baxghisaraj

-----*/
.prilogenie {
background-color: #CEF6CE;
padding-top: 10px;
padding-bottom: 250px;
    
}
.prilogenie-container{
margin: 0;
}
.prilogenie-container-text p {
font-size: 25px;
font-weight: 400;
line-height: 1;
text-decoration: none;
font-family: 'ZCOOL KuaiLe', cursive;
padding: 9px 0px 0px 290px;
}
.prilogenie-container img {
padding: 40px 10px 20px 10px;
max-width: 100%;
height:auto;
float: left;
    
}
.prilogenie-container-button-back {
font-size: 24px;
font-weight: 700;
text-decoration: none;
color: #fff;
text-transform: uppercase;
display: inline-block;
border-width: 2px;
background-color: #006400;
border-style: solid;
border-radius: 50px;
padding: 2px 7px 0px 2px;
margin-left: 650px;
margin-top: 80px;
}
.prilogenie-container-button-back:hover {
color: #CEF6CE; 
background-color: #0101DF;
}
.prilogenie-container-text1 p {
font-size: 25px;
line-height: 2.5;
padding: 60px 10px 0px 0px;
font-family: 'ZCOOL KuaiLe', cursive;
    
    
}
.prilogenie-container-row {
margin:10px 10px 300px 20px;
    
}

/*-------
   ---     tajgan------*/
.tajgan {
background-color: #FFFAF0;
padding-bottom: 10px;
padding-top: 1px;
    
}
.tajgan-container_zagolovok {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 70px;
    height: 230px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-decoration: none;
    color: #8B4513;
    text-align: center;
      
}
.tajgan-container  {
    margin: 0;
    display: flex;
    
    
} 
.tajgan-container_img {
   padding-left: 30px;
     display: flex;
/*--     flex-basis: auto;--*/
    
   
}
.tajgan-container_text p {

color: #006400;
font-size: 25px;
padding-left: 30px;
padding-right: 20px;
font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
   
} 
.tajgan-container_texte p {
    font-size: 28px;
    padding: 0px 10px 10px 20px;
    color: #8B4513;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}
.tajgan-container_row {
    width: 500px;
margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    
   
}
.tajgan-container_rowe {
   margin-left: 25px;
    float: left;
}
.tajgan-container_rowe:last-child {
    margin-right: 0;
}
.tajgan-container_textes p {
    color: #006400;
    font-size: 25px;
    padding: 230px 10px 10px 25px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    
    }
.tajgan-container_rowes {
    margin-left: 25px;
    float: left;
}
.tajgan-container_rowes:last-child {
margin-right: 0;
   
}
.tajgan-containers {
    padding: 10px 10px 490px 0px;
}

.tajgan-container-button-back {
    font-size: 24px;
font-weight: 700;
    text-decoration: none;
color: #8B4513;
    border-width: 2px;
    border-style: solid;
border-radius: 50px;
padding: 2px 7px 0px 2px;
    margin-left: 650px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #FFFAF0;
border-style: solid;
    
}
.tajgan-container-button-back:hover {
color: #FFFAF0; 
background-color: #8B4513;
}



    
/*---------------
footer
------------*/

.footer {
background-color: #006400;
color: #fff;
    
margin-top: 0px;
    
padding-top: 50px;
padding-bottom: 20px;
    
}

.footer p {
font-size: 23px;
color:#00BFFF ;
margin-top:30px;
margin-bottom: 10px;

}
p.footer__name {
    
font-size: 29px;
margin-bottom: 30px;
line-height: normal;
font-family:'Merriweather', serif;
}

p.footer__social {
color: #00BFFF;
font-size: 23px;
    
    
}
p.footer__social-icons {
color: #fff;
font-size: 30px;
    
}
p.footer__social-icons a {
color: #fff;
text-decoration: none;
margin-right: 30px;
transition: 0.2s ease-out;
    
}
p.footer__social-icons a:last-child{
margin-left: 0px;
}
p.footer__social-icons a:hover {
color: #800080;
}
.button {
font-size: 26px;
font-weight: 700;
text-decoration: none;
color: #fff;
text-transform: uppercase;
letter-spacing: 1.6;
    
display: inline-block;
    
border-width: 2px;
background-color: #006400;
border-style: solid;
border-radius: 50px;
padding: 10px 5px 10px 5px;
    
margin-bottom: 13px;
   
}
.col-4:p {
font-size: 60px;
}
.button:hover {
color: #800080;
background-color: #fff;
}
/*---------

media

-------*/
@media (max-width: 1350px) {
    
.container, {
        
width: 100%;
}
.text p {
width: 100% ;
margin: 0;
font-size: 20px;
line-height: 20px;
text-align: center;
        
}
    
.col-4 {
width: 100%;
        
box-sizing: border-box;
margin: 0;
padding-left: 15px;
padding-right: 15px;
text-align: center;
        
}
    
.header   {
padding-left: 15px;
padding-right: 15px;
}
    
.header__title {
        
font-size: 28px;
line-height: 48px;
margin-bottom: 15px;
}
.portfolio {
width: 100%;
        
margin-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
    
text-align: center;
        
}
.portfolio--itm__title {
font-size: 20px;
}

.footer {
    width: 100%;
margin: 0;
padding: 0px 0px 0px 0px;
 }
    .container {
        margin: 0;
        padding-left: 0px
    }  
    .row {
        margin: 0;
      padding: 0px 1000px 0px 0px;
        text-align: center;    
    }
    
.footer p {
    margin: 0;
    
        
font-size: 20px;
line-height: 27px;
text-align: center;
}
   
.button {
font-size: 19px;
}
.prilogenie {
width: 100%;
padding: 10px;10px 10px 10px;
} 
    
.prilogenie-container-text p  {
width: 100%;
font-size: 20px;
margin: 0;
padding-left: 15px;
} 
.prilogenie-container-text1 p {
width: 100%;
font-size: 18px;
margin: 10px 10px 10px 10px;
line-height: 20px;
}
.prilogenie-container-button-back {
font-size: 18px;
margin: 0;
padding: 5px 5px 5px 5px;
margin-left: 30px;
}
.prilogenie-container-row {
margin: 0;  
}
.tajgan  {
  width: 100%;
    
    }
    .tajgan-container  {
        flex-direction: column;
    } 
    
    .tajgan-container_zagolovok p {
        margin: 0;
        font-size: 30px;
      padding-top: 10px;
       
    } 
    .tajgan-container_img {
        margin: 0;
        padding: 0px 10px 10px 0px;
       
        
    }
    .tajgan-container_img p {
        margin: 0;
       padding-right: 100px;
        
    }
    .tajgan-container_text p {
        width: 100%;
        margin: 0;
        font-size: 20px;
        line-height: 20px;
      
           
        
    }
    
    
}